name: Deploy SupportSense to ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        env:
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          ECR_REPO: ${{ secrets.ECR_REPO }}
        run: |
          AWS_ACCOUNT_ID="$(echo -n "$AWS_ACCOUNT_ID" | tr -d '\r\n' | xargs)"
          AWS_REGION="$(echo -n "$AWS_REGION" | tr -d '\r\n' | xargs)"
          ECR_REPO="$(echo -n "$ECR_REPO" | tr -d '\r\n' | xargs)"

          IMAGE_URI="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPO}"

          echo "Using IMAGE_URI=${IMAGE_URI}"

          docker build -t supportsense:ci .
          docker tag supportsense:ci "${IMAGE_URI}:latest"
          docker push "${IMAGE_URI}:latest"


      - name: Redeploy ECS service (force new deployment)
        env:
          ECS_CLUSTER: ${{ secrets.ECS_CLUSTER }}
          ECS_SERVICE: ${{ secrets.ECS_SERVICE }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws ecs update-service \
            --cluster "${ECS_CLUSTER}" \
            --service "${ECS_SERVICE}" \
            --force-new-deployment \
            --region "${AWS_REGION}"

